<nav class="navbar navbar-light bg-light mb-5">
    <div class="container">
        <form class="d-flex align-items-center shadow-sm bg-white rounded mb-4 mb-md-0">
            <button class="btn my-sm-0 searching-btn pt-2 pb-2" type="submit">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
            </button>
            <input class="form-control border-0 searching_input pt-2 pb-2" type="search" placeholder="Search for a country..." aria-label="Search">
        </form>
        <div class="dropdown rounded">
            <button class="btn bg-white shadow-sm dropdown-toggle pt-2 pb-2" type="button" id="drodawnRegion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-4">Filter by Region</span> 
            </button>
            <div class="dropdown-menu border-0 shadow-sm  region_drop" id="dropdownOptions" aria-labelledby="drodawnRegion">
                <span class="dropdown-item" value="#">Africa</span>
                <span class="dropdown-item" value="#">America</span>
                <span class="dropdown-item" value="#">Asia</span>
                <span class="dropdown-item" value="#">Europe</span>
                <span class="dropdown-item" value="#">Oceania</span>
            </div>
        </div>
    </div>
</nav>
