html {
    font-size: 100%;
}

body#fff{
    background-color: #fafafa;
}

header {
    background-color: #ffffff;
}

header button {
    background-color: transparent;
}

.top_header h1 a{
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}

.top_header h5 {
    font-size: 1rem;
    font-weight: 500;
}

.top_header button:focus {
    outline: none;
}

nav form{
    width: 35%;
}

nav .region_drop{
    cursor: pointer;
}

nav .searching-btn {
    border-radius: 5px 0px 0px 5px !important;
}

nav .searching_input {
    border-radius: 0px 5px 5px 0px !important;
} 


.country_card {
    width: 22%;
}

.all_counties .country_card .img_container {
    position: relative;
    height: 150px;
} 

.all_counties .country_card .img_container img {
    /* position: absolute; */
    /* top:0;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%; */
    height: 150px;
    
} 

.all_counties .country_card a {
    text-decoration: none;
    color: black;
}

/* ////////////////////////// */

.dark_background{
    background-color: #202d36 !important;
}

.dark_background .top_header_nav{
    background-color: #2b3743 !important;
}

.dark_background .top_header_nav a{
    color: #ffffff;
}

.dark_background .top_header_nav button{
    color: #ffffff;
}

.dark_background .searching_form {
    background-color: #2b3743 !important;
} 

.dark_background .searching_input {
    background-color: #2b3743 !important;
}

.dark_background .searching_form button{
    color: #ffffff !important;
}

.dark_background .dropdawnRegion {
    background-color: #2b3743 !important;
    color: #ffffff !important;
}

.dark_background .dropdownOptions {
    background-color: #2b3743 !important;
}

.dark_background .dropdownOptions a {
    color: #ffffff !important;
}

.dark_background .dropdownOptions a:hover {
    background-color: #25303a !important;
}

.dark_background .country_card {
    background-color: #2b3743 !important;
}

.dark_background .country_card_results{
    color: #ffffff !important;
}

.dark_background .back_button {
    color: #ffffff !important;
    background-color: #2b3743 !important;
}

.dark_background .country_info_container {
    color: #ffffff !important;
}


.dark_background .related_countries {
    color: #ffffff;
    background-color: #2b3743 !important;
}

.dark_background .error_code {
    color: #ffffff;
}

.dark_background .error_description {
    color: #ffffff;
}
















@media screen and (max-width: 767px){
    nav form{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .top_header h1 {
        font-size: 1rem;
    }

    .top_header h5 {
        font-size: 0.8rem;
        font-weight: 500;
    }

    .top_header svg {
        font-size: 0.8rem;
    }
}




